layout {
    pane split_direction="horizontal" {
        pane {
            command "watch"
            args "-n" "1" "kubectl" "get" "pod" "-o" "wide"
        }
        pane {
            command "watch"
            args "-n" "1" "kubectl" "get" "pod" "-n" "aibrix-system"
        }
        pane {
            command "watch"
            args "-n" "1" "kubectl" "get" "pod" "-n" "envoy-gateway-system"
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
